# Operation on list

#### Create a list

In [1]:
my_list = [10, 20, 30, 40]
print("Created List:", my_list)

Created List: [10, 20, 30, 40]

#### Append an element

In [2]:
my_list = [10, 20, 30, 40]
my_list.append(50)
print("After Append:", my_list)

After Append: [10, 20, 30, 40, 50]

#### Insert element

In [3]:
my_list = [10, 20, 30, 40]
my_list.insert(2, 25)
print("After Insert:", my_list)

After Insert: [10, 20, 25, 30, 40]

#### Remove element

In [4]:
my_list = [10, 20, 30, 40]
my_list.remove(30)
print("After Remove:", my_list)

After Remove: [10, 20, 40]

#### Reverse the list

In [5]:
my_list = [10, 20, 30, 40]
my_list.reverse()
print("After Reverse:", my_list)

After Reverse: [40, 30, 20, 10]

# Operation on tuple

#### Create a tuple

In [6]:
my_tuple = (1, 2, 3, 4, 5)
print("Created Tuple:", my_tuple)

Created Tuple: (1, 2, 3, 4, 5)

#### Indexing

In [7]:
my_tuple = (1, 2, 3, 4, 5)
print("Element at index 2:", my_tuple[2])

Element at index 2: 3

#### Slicing

In [8]:
my_tuple = (1, 2, 3, 4, 5)
print("Slice (1:4):", my_tuple[1:4])

Slice (1:4): (2, 3, 4)

#### Count

In [9]:
my_tuple = (1, 2, 3, 3, 4, 5)
print("Count of 3:", my_tuple.count(3))

Count of 3: 2

#### Length

In [10]:
my_tuple = (1, 2, 3, 4, 5)
print("Length of tuple:", len(my_tuple))

Length of tuple: 5

# Operation on set

#### Create a set

In [11]:
my_set = {10, 20, 30, 40}
print("Created Set:", my_set)

Created Set: {40, 10, 20, 30}

####  Add element

In [12]:
my_set = {10, 20, 30, 40}
my_set.add(50)
print("After Add:", my_set)

After Add: {40, 10, 50, 20, 30}

#### Remove element

In [13]:
my_set = {10, 20, 30, 40}
my_set.remove(20)
print("After Remove:", my_set)

After Remove: {40, 10, 30}

#### Union

In [14]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
print("Union:", set1.union(set2))

Union: {50, 20, 40, 10, 30}

#### Intersection

In [15]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
print("Intersection:", set1.intersection(set2))

Intersection: {30}

# Operation on dictinary

#### Create dictionary

In [1]:
my_dict = {"name": "Fasith", "age": 19, "dept": "CSE"}
print("Created Dictionary:", my_dict)

Created Dictionary: {'name': 'Fasith', 'age': 19, 'dept': 'CSE'}

#### Access value

In [2]:
my_dict = {"name": "Fasith", "age": 19, "dept": "CSE"}
print("Name:", my_dict["name"])

Name: Fasith

####  Add new key-value

In [3]:
my_dict = {"name": "Fasith", "age": 19, "dept": "CSE"}
my_dict["college"] = "PMIST University"
print("After Adding:", my_dict)

After Adding: {'name': 'Fasith', 'age': 19, 'dept': 'CSE', 'college': 'PMIST University'}

#### Update value

In [4]:
my_dict = {"name": "Fasith", "age": 19, "dept": "CSE"}
my_dict["age"] = 20
print("After Update:", my_dict)

After Update: {'name': 'Fasith', 'age': 20, 'dept': 'CSE'}

#### Delete a key

In [5]:
my_dict = {"name": "thoufic", "age": 19, "dept": "CSE"}
del my_dict["dept"]
print("After Delete:", my_dict)

After Delete: {'name': 'thoufic', 'age': 19}